<html>

   <head>
   
      <style>
      
         body {
    background-color: rgb(13, 0, 255);
    background-image: url("C:/Users/anmol/Downloads/bub.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;


}

          </style>

        </head>

      <body>
      
      Hello ! 
      
      </body>

  </html>